/**
 * @file
 * CSS for the asciidoc_display_direct module.
 *
 * Overrides some annoying styles in Bartik, Seven, and system.css for the
 * navigation.
 */

.asciidoc-display-main-content .navfooter table,
.asciidoc-display-main-content .navfooter table tbody,
.asciidoc-display-main-content .navfooter table tr td:last-child {
    border: 0 none;
}

.asciidoc-display-main-content .navfooter table tr {
  background: transparent;
}
