/**
 * @file
 * CSS for AsciiDoc navigation.
 */

.asciidoc_cover_link {
   font-weight: bold;
}

/* Turn off 2nd-level ULs on navigation block, except active trail. */
.asciidoc-display-toc ul ul {
  display: none;
}
.asciidoc-display-toc ul ul.active-trail {
  display: block;
}

/* No bullets. Padding for toggles and lining other items up. */
.block .asciidoc-display-toc ul,
.block .asciidoc-display-toc li {
  clear: left;
}
.block .asciidoc-display-toc ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}
.block .asciidoc-display-toc ul li {
  padding-left: 0px;
  margin-left: 0px;
  line-height: 1.1em;
  padding-top: 1em;
}
.block .asciidoc-display-toc ul li.no-children {
  padding-left: 20px;
  clear: left;
}
.block .asciidoc-display-toc ul ul li {
  margin-left: 20px;
}

/* Take care of toggles. */
.asciidoc-display-toc li.has-children p.toggle {
  float: left;
  width: 22px;
  height: 22px;
  color: transparent;
  font-size: 1px;
}
.asciidoc-display-toc li.has-children p.plus-toggle {
  background: url("images/plus.png") no-repeat;
}
.asciidoc-display-toc li.has-children p.minus-toggle {
  background: url("images/minus.png") no-repeat;
}
