/**
 * @file
 * CSS for AsciiDoc source editing.
 */

iframe.markItUpPreviewFrame {
    width: 100%;
    height: 500px;
}

.markItUpButton {
    padding-right: 5px;
}

.markItUp .markItUpButton1 a {
    background-image:url(h1.png);
}
.markItUp .markItUpButton2 a {
    background-image:url(h2.png);
}
.markItUp .markItUpButton3 a {
    background-image:url(h3.png);
}
.markItUp .markItUpButton4 a {
    background-image:url(h4.png);
}

.markItUp .markItUpButton5 a {
    background-image:url(bold.png);
}
.markItUp .markItUpButton6 a {
    background-image:url(italic.png);
}
.markItUp .markItUpButton7 a {
    background-image:url(monospace.png);
}

.markItUp .markItUpButton8 a {
    background-image:url(list-bullet.png);
}
.markItUp .markItUpButton9 a {
    background-image:url(list-numeric.png);
}

.markItUp .markItUpButton10 a {
    background-image:url(picture.png);
}
.markItUp .markItUpButton11 a {
    background-image:url(link.png);
}

.markItUp .markItUpButton12 a	{
    background-image:url(code.png);
}

.markItUp .preview a {
    background-image:url(preview.png);
}

.markItUpEditor,
.html .markItUpEditor,
.markdown .markItUpEditor,
.markItUpPreviewFrame {
    background-image: none;
}